# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore any build output
build/
dist/

!firebase/example.json
firebase/fcm_service.account.json


